#fileExplorer {
    width: 20%;
    margin-left: 2%;
    margin-right: auto;
    float: left;
}

#mainWindow {
    margin-right: 2%;
    margin-left: auto;
    float: right;
    position: relative;
    height: 50%;
    min-height: 400px;
    width: 75%;
}

.navbar {
    display: none
}

.navbar-default {
    background-color: #2fa4e7;
    border-color: #1995dc
}

.navbar-default .navbar-brand {
    color: #ffffff
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table
}

.navbar-default .navbar-toggle {
    border-color: #178acc
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #178acc
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav > li {
        float: left
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff
}

.navbar .navbar-nav > li > a, .navbar-brand {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1)
}
.expressionContent {
    font-size: medium;
}

#results {
    min-height: 400px;
    margin-bottom: 5px;
}

#resultArea {
    min-width: 600px;
    width: 100%;
    padding-left: 3em;
    padding-bottom: 3em;
    padding-right: 1em;
    pading-top: 1em;
}

#input {
    position: absolute;
    margin-bottom: 10px;
    min-width: 75%;
}

#expressionInput {
    float: left;
    width: 85%;
}

#functionsButton {
    float: right;
    margin-left: 10px;
    width: 7%;
}

#fileInputDialog {
    visibility: hidden;
}

